<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
      <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <nav>
    <ul><li><a href="/pizzas">All orders</a></li></ul></nav>
    <ul><li><a href="/pizzas/new">Order a pizza</a></li></ul>
  <%= yield %>
</body>
<footer></footer>
</html>
